NEXT_PUBLIC_SUPABASE_URL=

NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=https://arlogic-web-services.vercel.app

# Telegram Bot
TELEGRAM_BOT_TOKEN=

# Channel IDs untuk setiap fitur
TELEGRAM_CHANNEL_ATTENDANCE=
TELEGRAM_CHANNEL_SERVICE=
TELEGRAM_CHANNEL_LAYANAN=
TELEGRAM_CHANNEL_INVENTORY=
TELEGRAM_CHANNEL_CLOSING=
TELEGRAM_CHANNEL_CUSTOMER=
TELEGRAM_CHANNEL_KASPIN=
TELEGRAM_CHANNEL_TEKNISI_UPDATE=
TELEGRAM_CHANNEL_QC_UPDATE=
TELEGRAM_CHANNEL_BUKU_KAS=
TELEGRAM_CHANNEL_STOCK_TRANSFER=


# JEMBER
TELEGRAM_CHANNEL_LAYANAN_JBR=
TELEGRAM_CHANNEL_SERVICE_JBR=
TELEGRAM_CHANNEL_ATTENDANCE_JBR=
TELEGRAM_CHANNEL_INVENTORY_JBR=
TELEGRAM_CHANNEL_CLOSING_JBR=
TELEGRAM_CHANNEL_CUSTOMER_JBR=
TELEGRAM_CHANNEL_KASPIN_JBR=
TELEGRAM_CHANNEL_TEKNISI_UPDATE_JBR=
TELEGRAM_CHANNEL_QC_UPDATE_JBR=
TELEGRAM_CHANNEL_STOCK_TRANSFER_JBR=
TELEGRAM_CHANNEL_BUKU_KAS_JBR=

# KUDUS
TELEGRAM_CHANNEL_LAYANAN_KDS=
TELEGRAM_CHANNEL_SERVICE_KDS=
TELEGRAM_CHANNEL_ATTENDANCE_KDS=
TELEGRAM_CHANNEL_INVENTORY_KDS=
TELEGRAM_CHANNEL_CLOSING_KDS=
TELEGRAM_CHANNEL_CUSTOMER_KDS=
TELEGRAM_CHANNEL_KASPIN_KDS=
TELEGRAM_CHANNEL_TEKNISI_UPDATE_KDS=
TELEGRAM_CHANNEL_QC_UPDATE_KDS=
TELEGRAM_CHANNEL_STOCK_TRANSFER_KDS=
TELEGRAM_CHANNEL_BUKU_KAS_KDS=

# Chat ID untuk notifikasi (numeric ID, bukan @username)
TELEGRAM_CHAT_ID=
TELEGRAM_ADMIN_CHAT_ID=


PHOTO_PROXY_DOMAIN=
NEXT_PUBLIC_PHOTO_PROXY_URL=
